section.home
  header
    h1 GENE
    h2 New Black Dogs EP out NOW
  main
    .ep-cover--wrapper
      .ep-cover
      
      .logo-section
        .logo-wrapper
          
          .logo.logo--itunes
          .logo.logo--bandcamp
          .logo.logo--spotify
          .logo.logo--google
        .cta-wrapper
          h1 GET IT NOW!
