section.home
  header
    h1 GENE
    h2 
      span.s-new New
      span.s-black Black
      span.img-dog
      span.s-dogs Dogs
      span.s-ep EP
  main
    .ep-cover--wrapper
      .ep-cover
      
      .logo-section
        .logo-wrapper
          
          .logo.logo--itunes
          .logo.logo--bandcamp
          .logo.logo--spotify
          .logo.logo--google
        .cta-wrapper
          h1 GET IT NOW!
